:root {
    --dark-background-color: #1f2937;
    --hero-main-text-color: #f9faf8;
    --hero-main-text-size: 48px;
    --hero-main-text-weight: extra-bold;
    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color: #e5e7eb;
    --header-logo-text-size: 24px;
    --header-logo-text-color: #f9faf8;
    --button-color: #3882f6;
    --info-header-text-size: 36px;
    --info-header-text-weight: extra-bold;
    --info-header-text-color: #1f2937;
    --quote-section-background-color:#e5d7eb;
    --quote-text-size: 36px;
    --quote-text-weight: light italic;
    --quote-text-color: #1f2937;
    --button-border-radius:5px;
    --margin-bottom-text:5px;
    --padding-section: 5% 5% 10% 5%;
}

@font-face {
    font-family: "Roboto";
    src: url(../styles/fonts/Roboto-Medium.ttf) format("truetype");
  }

*{
  font-family: "Roboto", Arial, Helvetica, sans-serif ;
  margin: 0;
}

.navbar {
  background-color: var(--dark-background-color);
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin:0;
}

.header-logo {
  justify-content: flex-start !important;
  display: flex !important;
  padding-top: 10px;
  padding-left: 10px;
}

.logo-size {
  height: 50px;
}

.header {
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-text-size);
  text-decoration: none;
  margin: 2% 0% 2% 0%;
  padding: 12px;
}

.about-us-intro {
  background-color: var(--dark-background-color);
  padding: var(--padding-section);
  display: grid;
  text-align: center;
}

.about-us-intro-header {
  color: var(--hero-main-text-color);
  font-size: var(--hero-main-text-size);
  margin-bottom: 50px;
}

.about-us-intro-text {
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-text-size);
  line-height: 2;
}

.about-us-who {
  padding: var(--padding-section);
  display: grid;
  text-align: center;
}

.about-us-who-header {
  color: var(--info-header-text-color);
  font-size: var(--hero-main-text-size);
  margin-bottom: 50px;
}

.about-us-who-text {
  color: var(--info-header-text-color);
  font-size: var(--hero-secondary-text-size);
  line-height: 2;
} 

.about-us-what-sets-us-apart {
  padding: var(--padding-section);
  background-color: var(--quote-section-background-color);
  display: grid;
  text-align: center;
}

.about-us-what-sets-us-apart-header {
  color: var(--info-header-text-color);
  font-size: var(--hero-main-text-size);
  margin-bottom: 50px;
}

.about-us-what-sets-us-apart-text {
  color: var(--info-header-text-color);
  font-size: var(--hero-secondary-text-size);
  line-height: 2;
}



.about-us-why-choose-us {
  padding: var(--padding-section);
  display: grid;
  text-align: center; 
}
.about-us-why-choose-us-header {
  color: var(--info-header-text-color);
  font-size: var(--hero-main-text-size);
  margin-bottom: 50px;
}

.about-us-why-choose-us-text {
  color: var(--info-header-text-color);
  font-size: var(--hero-secondary-text-size);
  line-height: 2;
} 

.book-your-adventure {
  background-color: var(--button-color);
  display: flex;
  border-radius: 10px;
  padding: 2% 2% 2% 10%;
  margin: 0 12% 10% 12%;
}

.book-your-adventure-box {
  margin: 3% 10% 3% 3%;
}

.book-your-adventure-box-header {
  color: var(--hero-secondary-text-color);
}

.book-your-adventure-box-text {
  color: var(--hero-secondary-text-color);
}

.book-your-adventure-button {
  justify-content: right;
  margin: 2% 15% 2% 10%;
}

.book-your-adventure-button-element {
  background-color:var(--button-color);
  color: var(--hero-secondary-text-color);
  border-color: var(--quote-section-background-color);
  border-radius: var(--button-border-radius);
  padding: 10% 45% 10% 45%;
  border-style:solid;
}

.book-your-adventure-button-element a {
  color: var(--hero-secondary-text-color);
  text-decoration: none;
}

.go-to-top{
    text-align: center;
    margin-bottom: 1%;
}

.go-to-top-button img{
  width: 30px;
  height: 30px;
}

.footer {

  background-color: var(--dark-background-color);
  color: var(--hero-secondary-text-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;  
  padding: 3%;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--hero-secondary-text-color);
  text-decoration: none;  
  font-weight: bold;
}

.newsletter-input-box{
  border-radius: var(--button-border-radius);
  padding: 2%;  
  border: none;
}

.newsletter-button{
  background-color:var(--button-color);
  color: var(--hero-secondary-text-color);
  border-color: var(--quote-section-background-color);
  border-radius: var(--button-border-radius);
  padding: 2% 5% 2% 5%;  
  border: none;
}

.newsletter-button a {
  color: var(--hero-secondary-text-color);
  text-decoration: none;
}

.stay-connected img {
  width: 30px;
  height: 30px;
}

.stay-connected a {
  display: inline-block;
  margin-right: 10px;
}

.wrap-newsletter-stay-connected,
.contact-us {
  display: flex;
  flex-direction: column;
}

.contact-us h3, p {
  margin-bottom: var(--margin-bottom-text);
}

.contact-us a {
  color: var(--hero-secondary-text-color);
}

.contact-us a:hover {
  text-decoration: underline;
}

.copyright {
  color: var(--quote-text-color);
  size: var(--hero-secondary-text-size);
  text-align: left;
  margin: 0;
}