@font-face {
  font-family: "Roboto";
  src: url(../styles/fonts/Roboto-Medium.ttf) format("truetype");
}

* {
  margin: 0;
}
/* 
.navbar {
  background-color: #1f2937;
  top: 0%;
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
}

.header_logo {
  justify-content: flex-start !important;
  display: flex !important;
}

.logo_size {
  height: 50px;
}

.header {
  font-family: "Roboto";
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
  padding: 12px;
}

*/
/* 
.hero {
  background-color: #1f2937;
  display: inline-flex;
  flex-direction: row;
  padding-top: 5%;
  padding-left: 15%;
  padding-bottom: 7%;
}

.hero_header {
  font-family: "Roboto";
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 48px;
  font-weight: bold;
}

.main_hero {
  font-family: "Roboto";
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  width: 50%;
}

.button_hero {
  font-family: "Roboto";
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border: solid;
  border-radius: 5px;
}

.main_image {
  justify-content: right;
  padding-right: 19%;
}

.image_hero {
  height: 250px;
  padding-top: 50px;
} */

.blurb_1 {
  font-family: "Roboto";
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 20px;
}

.blurb_2 {
  font-family: "Roboto";
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 20px;
}

.packages {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
}

.package_name {
  font-family: "Roboto";
  color: black;
  text-align: center;
}

#package {
  height: 100px;
  border: 3px solid;
  border-color: #3882f6;
  border-radius: 25px;
}

.testimonial_home {
  background-color: #e5e7eb;
  margin-bottom: 20px;
}

#testimonial_text {
  font-family: "Roboto";
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

#testimonial_name {
  font-family: "Roboto";
  font-size: 36px;
  font-style: bold;
  margin-right: 20%;
  text-align: right;

  padding-bottom: 5%;
}

.book-your-adventure {
  background-color: #3882f6;
  display: flex;
  border-radius: 10px;
  padding: 2% 2% 2% 10%;
  margin: 0 15% 15% 15%;
}

.book-your-adventure-box {
  margin: 3% 10% 3% 3%;
}

.book-your-adventure-box-header {
  color: #e5e7eb;
  font-size: 19px;
  font-weight: bold;
}

.book-your-adventure-box-text {
  color: #e5e7eb;
}

.book-your-adventure-button {
  justify-content: right;
  margin: 2% 15% 2% 10%;
}

.book-your-adventure-button-element {
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5d7eb;
  border-radius: 5px;
  padding: 10% 45% 10% 45%;
  border-style: solid;
}

.book-your-adventure-button-element a {
  color: #e5e7eb;
  text-decoration: none;
}

/** section go-to-top */

.go-to-top {
  text-align: center;
  margin-bottom: 1%;
}

.go-to-top-button img {
  width: 30px;
  height: 30px;
}

footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

footer > section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #f9faf8;
  justify-content: space-evenly;
}

.footer-links-list {
  padding: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: #f9faf8;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

.footer-links-list > h3,
a {
  color: #f9faf8;
  text-decoration: none;
}

.footer-links-list a {
  color: #f9faf8;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
}

.footer-links-list {
  list-style: none;
}

.footer-mid {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletterform {
  display: flex;
}

.newsletter input {
  background-color: #4a4a4a;
  color: #f9faf8;
  font-size: 18px;
  border: none;
  padding: 10px;
}

.newsletter button {
  background-color: #3882f6;
  font-size: 18px;
  border: none;
  align-self: center;
  color: #f9faf8;
  padding: 10px;
}

.stay-connected img {
  width: 40px;
  filter: invert();
}

.contact-us > h3 {
  margin-bottom: 10px;
}

.contact-us > p {
  font-size: 14px;
  line-height: 18px;
}

.copyright p {
  text-align: center;
  margin-top: 40px;
  color: #f9faf8;
  font-size: 14px;
}
