@font-face {
  font-family: "Roboto";
  src: url(../styles/fonts/Roboto-Medium.ttf) format("truetype");
}

.navbar {
  background-color: #1f2937;
  top: 0%;
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header_logo {
  justify-content: flex-start !important;
  display: flex !important;
  padding-top: 10px;
  padding-left: 10px;
}

.logo_size {
  height: 50px;
}

.header {
  font-family: "Roboto";
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
  padding: 12px;
}

.hero {
  background-color: #1f2937;
  display: grid;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
}

.hero_header {
  font-family: "Roboto";
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 48px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main_hero {
  font-family: "Roboto";
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.button_hero {
  font-family: "Roboto";
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.image_hero {
  height: 250px;
  padding-top: 50px;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.blurb {
  font-family: "Roboto";
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.packages {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.package_name {
  font-family: "Roboto";
  text-align: center;
}

#package {
  height: 100px;
  border: 3px solid;
  border-color: #3882f6;
  border-radius: 25px;
}

.testimonial_home {
  background-color: #e5e7eb;
}

#testimonial_text {
  font-family: "Roboto";
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

#testimonial_name {
  font-family: "Roboto";
  font-size: 36px;
  font-style: bold;
  margin-right: 20%;
  text-align: right;

  padding-bottom: 5%;
}

.call_to_action {
  display: flex;
  background-color: #3882f6;
  border: solid #3882f6;
  border-radius: 10px;
  width: 1400px;
  padding: 50px;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
}

.action_call {
  justify-content: left;
  width: 70%;
}

#action_call_header {
  color: #f9faf8;
}

#action_call_text {
  font-family: "Roboto";
  color: #f9faf8;

  word-break: normal;
}

.button_call {
  justify-content: right;
  margin-top: 4%;
  margin-left: 10%;
}

.button_hero {
  float: inline-end;
  font-family: "Roboto";
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border-radius: 5px;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
}

.footer_logo {
  height: 30px;
}
