@font-face {
  font-family: "Roboto";
  src: url(../styles/fonts/Roboto-Medium.ttf) format("truetype");
}

.navbar {
  background-color: #1f2937;
  top: 0%;
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
}

.header_logo {
  justify-content: flex-start !important;
  display: flex !important;
}

.logo_size {
  height: 50px;
}

.header {
  font-family: "Roboto";
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
  padding: 12px;
}

.hero {
  background-color: #1f2937;
  display: grid;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;
}

.hero_header {
  font-family: "Roboto";
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 48px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main_hero {
  font-family: "Roboto";
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.button_hero {
  font-family: "Roboto";
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.image_hero {
  height: 250px;
  padding-top: 50px;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.blurb_1 {
  font-family: "Roboto";
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 20px;
}

.blurb_2 {
  font-family: "Roboto";
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 20px;
}

.packages {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
  margin-right: 25%;
}

.package_name {
  font-family: "Roboto";
  color: black;
  text-align: center;
}

#package {
  height: 100px;
  border: 3px solid;
  border-color: #3882f6;
  border-radius: 25px;
}

.testimonial_home {
  background-color: #e5e7eb;
}

#testimonial_text {
  font-family: "Roboto";
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

#testimonial_name {
  font-family: "Roboto";
  font-size: 36px;
  font-style: bold;
  margin-right: 20%;
  text-align: right;

  padding-bottom: 5%;
}

.call_to_action {
  display: flex;
  background-color: #3882f6;
  border: solid #3882f6;
  border-radius: 10px;
  width: 1400px;
  padding: 50px;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 15%;
  margin-bottom: 3%;
}

.action_call {
  justify-content: left;
  width: 70%;
}

#action_call_header {
  color: #f9faf8;
  margin-left: 5%;
}

#action_call_text {
  font-family: "Roboto";
  color: #f9faf8;
  word-break: normal;
  margin-left: 5%;
}

.button_call {
  margin-top: 4%;
  margin-left: 10%;
}

.button_hero {
  float: inline-end;
  font-family: "Roboto";
  background-color: #3882f6;
  color: #e5e7eb;
  border-color: #e5e7eb;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

footer > section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #f9faf8;
  justify-content: space-evenly;
}

.footer-links-list {
  padding: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: #f9faf8;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

.footer-links-list > h3,
a {
  color: #f9faf8;
  text-decoration: none;
}

.footer-links-list a {
  color: #f9faf8;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
}

.footer-links-list {
  list-style: none;
}

.footer-mid {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletterform {
  display: flex;
}

.newsletter input {
  background-color: #4a4a4a;
  color: #f9faf8;
  font-size: 18px;
  border: none;
  padding: 10px;
}

.newsletter button {
  background-color: #3882f6;
  font-size: 18px;
  border: none;
  align-self: center;
  color: #f9faf8;
  padding: 10px;
}

.stay-connected img {
  width: 40px;
  filter: invert();
}

.contact-us > h3 {
  margin-bottom: 10px;
}

.contact-us > p {
  font-size: 14px;
  line-height: 18px;
}

.copyright p {
  text-align: center;
  margin-top: 40px;
  color: #f9faf8;
  font-size: 14px;
}
